.active-friends {
    .active-friend {
        overflow: hidden;

        .image-active-icon {
            overflow-x: scroll;
            display: flex;

            &::-webkit-scrollbar {
                overflow: hidden;
            }

            .image {
                margin: 5px;
                position: relative;
                cursor: pointer;

                img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .active-icon {
                    position: absolute;
                    bottom: 3px;
                    right: 3px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: rgb(27, 223, 53);
                }
            }
        }
    }

    border-bottom: 2px solid rgb(216, 212, 212);
}