.message-show {
    height: 100%;
    padding: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        overflow: hidden;
    }
}

.my-message {
    .message {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 0px;
    }
}




.my-text {
    background-color: #b2edff;
    /* Set your desired background color for my-message */
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    max-width: 50%;

    img {
        max-width: 200px;
        height: auto;
        display: block;
        border-radius: 10px;
        float: right;
    }

    &:has(img) {
        background-color: transparent;
        padding: 0;
    }

}



.time {
    display: flex;
    justify-content: end;
    margin-right: 65px;
    font-size: 10px;
    margin-top: 5px;
}

.fd-time {
    margin-top: 5px;
    justify-content: start !important;
    margin-left: 70px !important;
}


//Friend Message
.fd-message {
    .message {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 10px;
    }

    .fd-text {
        background-color: red;
        /* Set your desired background color for my-message */
        padding: 10px;
        border-radius: 5px;
        margin-left: 10px;
        max-width: 50%;

        img {
            max-width: 200px;
            height: auto;
            display: block;
            border-radius: 10px;
            float: left;
        }
    
        &:has(img) {
            background-color: transparent;
            padding: 0;
        }
    }

}

.user-image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}